@{
    ViewBag.Title = "Home";
}
<div class="span2">
    <div class="tile bg-green">
        <div class="tile-content icon">
        </div>
    </div>
</div>
<div class="span4 offset2">
    <div class="tile bg-active-black">
    </div>
</div>