<div class="span7">
    <div id="button" class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" style="padding:10px; text-align: center;">
        <br/>
        <br/>
        <br/>
        <br />
        <br />
 
        Hi there Counter, your count was... <br /><br />
        <span class="COUNT header">@ViewBag.BeenAround!!!</span><br /><br />
        Thank you for participating!
    </div>
</div>