<div class="span7">
    <div id="button" class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" style="padding:10px; text-align: center;">
        Hi there Counter, your number was... <br /><br />
        <span class="COUNT">@ViewBag.BeenAround!!!</span><br /><br />
        Thank you for participating!
    </div>
</div>