<div class="span8">
    <div id="button" class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" style="padding:10px; text-align: center;">
        WE HAVE COLLECTED 1000 COUNTS AND ARE NOW CREATING THE VIDEO.
        <br /><br />STAY TUNED!!!
    </div>
</div>