<div class="span8">
    <div id="button" class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" style="padding:10px; text-align: center;">
        <br />
        <br />
        <br />
        <br />
        <br />
        We are now creating the video. Stay tuned.
      
    </div>
</div>