Your number is... <br /><br />
<span class="COUNT">@(Model)!!!</span><br /><br />
Click me to record a three second video of you pronouncing
this number in your language of choice.<br /><br />
Make yourself comfortable and get ready to join A Thousand Counts.<br /><br />

3, 2, 1, COUNT!
