<div class="span8">
    <div id="button" class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" style="padding:10px; text-align: center;">
        Your number is... <br /><br />
        <span class="COUNT">@(Model)!!!</span><br /><br />
        Click this pink square to record a three second video of you saying
        @Model in your language of choice.<br /><br />
        Make yourself comfortable and get ready to join A Thousand Counts.<br /><br />

        3, 2, 1, COUNT!
    </div>
</div>