<div class="span7">
    <div class="tile quadro triple-vertical bg-lighterBlue bg-active-lightBlue" style="padding:10px;">
        At A Thousand Counts we are
        passionate about counting. That's why we are
        creating a video of 1000 counters counting to one thousand.
        You can be one! <br /><br />
        A counter gets assigned a number in the range 1-1000.
        Every counter gets a maximum of five seconds to count his or her assigned number
        into her or his webcam with microphone enabled. <br /><br />
        Once 1000 videos are collected there will be no more numbers available.
        The A Thousand Counts team will then put your clips
        in sequence so that a video of approximately eighty minutes will be created where
        counters from all over the world are counting to 1000!

        <br /><br />

        Join the movement and count!<br /><br />
        Count passionately. Count lively. Count clearly. Count expectantly.
        But, make sure to count.  <br /><br />
        Be quick and click the pink square. 
        There are only <strong>@ViewBag.CountsLeft</strong> counts left on A Thousand Counts...
    </div>
</div>