<div class="span7">
    <div class="tile quadro triple-vertical bg-lighterBlue bg-active-lightBlue" style="padding:10px;">
        At A Thousand Counts we are
        passionate about counting. That's why we are
        creating a video of 1000 counters counting to one thousand.
        You can be one! <br /><br />
       
        Please use as little as time as possible when you click "Start recording"
        by pressing "Stop recording" when you are done.<br /><br/>

        <br /><br />

        Join the movement and count!<br />
        Count passionately. Count lively. Count clearly. Count expectantly.
        But, make sure to count.  <br /><br />
        Be quick and click the pink square. 
        There are only <strong>@ViewBag.CountsLeft</strong> counts left on A Thousand Counts...
    </div>
</div>