<div id="recorder">
    <div id="webcam">
    </div>

    <div class="brand bg-black">
        <button id="recordStartButton" class="btn btn-small" onclick="startRecording()" disabled>Start Recording</button>&nbsp;
        <span style="padding-left:5px;padding-right:5px;">
            Time left:
            <input type="text" id="timeLeft" style="width:50px;font-size:10px;">&nbsp;
        </span>
        <button id="recordStopButton" class="btn btn-small" onclick="closeCamera()" disabled>Stop Recording</button>
    </div>
    <div id="mediaplayer" style="display:none;"></div>
</div>
