<!-- Please download the JW Player plugin from http://www.longtailvideo.com/jw-player/download -->
<!--<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>-->
<script language="JavaScript" src="~/ScriptCam/scriptcam.js"></script>
<script language="JavaScript" src="~/Scripts/scriptcam-settings.js"></script>

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

<script language="JavaScript" type="text/javascript">
    $(function () {
        $('#message').html('Please click ALLOW in the security dialogue before recording.');
    });
</script>

<div class="span7">
    <div class="tile quadro triple-vertical bg-lightPink bg-active-lightBlue" id="finalMessage">
        <div id="recorder">
            
            <div id="webcam">
            </div>

            <div class="brand bg-black text-right" style="padding-left:5px;padding-right:5px; color: white;">
                Max left:
                <input type="text" id="timeLeft" style="width:50px;font-size:10px;" value="00:10" />&nbsp;
                <button id="recordStopButton" class="danger" onclick="closeCamera()" disabled>STOP RECORDING</button>
            </div>
            <div id="mediaplayer" style="display:none;"></div>
        </div>
    </div>
    <div id="message"></div>
</div>
