@{
    ViewBag.Title = "404";
}

<div class="span7">
    <div id="button" class="tile quadro triple-vertical bg-active-darkGreen bg-focus-yellow bg-active-darkPink" style="padding:10px; text-align: center;">
        
        <span class="COUNT">ERROR!!!</span><br /><br />
        An error occured
    </div>
</div>