@{
    ViewBag.Title = "Home";
}

<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script language="javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" src="~/ScriptCam/scriptcam.js"></script>

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/metro-bootstrap.min.css" rel="stylesheet" />
<link href="~/ScriptCam/bootstrap.min.css" rel="stylesheet" />
<style>
    #webcam {
        float: left;
    }

    #volumeMeter {
        background-image: url('ledsbg.png');
        width: 19px;
        height: 133px;
        padding-top: 5px;
    }

        #volumeMeter img {
            padding-left: 4px;
            padding-top: 1px;
            display: block;
        }

    .ui-slider {
        background: none;
        background-image: url('trackslider.png');
        border: 0;
        height: 107px;
        margin-top: 16px;
    }

        .ui-slider .ui-slider-handle {
            width: 14px;
            height: 32px;
            margin-left: 7px;
            margin-bottom: -16px;
            background: url(volumeslider.png) no-repeat;
        }

    #volumePanel {
        -moz-border-radius: 0px 5px 5px 0px;
        border-radius: 0px 5px 5px 0px;
        background-color: #4B4B4B;
        width: 55px;
        height: 160px;
        -moz-box-shadow: 0px 3px 3px #333333;
        -webkit-box-shadow: 0px 3px 3px #333333;
        shadow: 0px 3px 3px #333333;
    }

    #setupPanel {
        width: 400px;
        height: 30px;
        margin: 5px;
    }
</style>
<script language="javascript">
    (function ($) {
        $("#webcam").scriptcam({
            path: '/ScriptCam/',
            fileReady: fileReady,
            cornerRadius: 20,
            cornerColor: 'e3e5e2',
            onError: onError,
            promptWillShow: promptWillShow,
            showMicrophoneErrors: false,
            showDebug: true,
            onWebcamReady: onWebcamReady,
            timeLeft: timeLeft,
            fileName: 'demo368162',
            connected: showRecord
        });
        function showRecord() {
            $("#recordStartButton").attr("disabled", false);
        }
        function startRecording() {
            $("#recordStartButton").attr("disabled", true);
            $("#recordStopButton").attr("disabled", false);
            $("#recordPauseResumeButton").attr("disabled", false);
            $.scriptcam.startRecording();
        }
        function closeCamera() {
            $("#slider").slider("option", "disabled", true);
            $("#recordPauseResumeButton").attr("disabled", true);
            $("#recordStopButton").attr("disabled", true);
            $.scriptcam.closeCamera();
            $('#message').html('Please wait for the file conversion to finish...');
        }
        function pauseResumeCamera() {
            if ($("#recordPauseResumeButton").html() == 'Pause Recording') {
                $("#recordPauseResumeButton").html("Resume Recording");
                $.scriptcam.pauseRecording();
            }
            else {
                $("#recordPauseResumeButton").html("Pause Recording");
                $.scriptcam.resumeRecording();
            }
        }
        function fileReady(fileName) {
            $('#recorder').hide();
            fileName2 = fileName.replace('mp4', 'gif');
            $('#message').html('The MP4 file is now dowloadable for five minutes over <a href="' + fileName + '">here</a>. The animated GIF can be downloaded <a href="' + fileName2 + '">here</a>.');
            var fileNameNoExtension = fileName.replace(".mp4", "");
        }
        function onError(errorId, errorMsg) {
            alert(errorMsg);
        }
        function onWebcamReady(cameraNames, camera, microphoneNames, microphone, volume) {
            $("#slider").slider("option", "disabled", false);
            $("#slider").slider("option", "value", volume);
            $.each(cameraNames, function (index, text) {
                $('#cameraNames').append($('<option></option>').val(index).html(text))
            });
            $('#cameraNames').val(camera);
            $.each(microphoneNames, function (index, text) {
                $('#microphoneNames').append($('<option></option>').val(index).html(text))
            });
            $('#microphoneNames').val(microphone);
        }
        function promptWillShow() {
            alert('A security dialog will be shown. Please click on ALLOW.');
        }

        function timeLeft(value) {
            $('#timeLeft').val(value);
        }
        function changeCamera() {
            $.scriptcam.changeCamera($('#cameraNames').val());
        }
        function changeMicrophone() {
            $.scriptcam.changeMicrophone($('#microphoneNames').val());
        }
    })(jQuery);
</script>
<div class="span2">
    <div class="tile selected bg-yellow">
    </div>
    <div class="tile bg-green"></div>
    <div class="tile bg-blue"></div>

</div>
<div class="span7">
    <div class="tile quadro triple-vertical bg-lighterBlue">
        <div id="message"></div>
        <div id="recorder">
            <div id="webcam">

            </div>

            <div id="setupPanel">
                <img src="~/ScriptCam/webcamlogo.png" style="vertical-align:text-top" />
                <select id="cameraNames" size="1" onchange="changeCamera()" style="width:145px;font-size:10px;height:25px;"></select>
                <img src="~/ScriptCam/miclogo.png" style="vertical-align:text-top;padding-left:45px;" />
                <select id="microphoneNames" size="1" onchange="changeMicrophone()" style="width:128px;font-size:10px;height:25px;"></select>

            </div>

            <div class="brand bg-black">
             
                <button id="recordstartbutton" class="btn btn-small" onclick="startRecording()" disabled>
                    Start Recording
                </button>&nbsp;
                    <span style="padding-left:5px;padding-right:5px;">
                        Time left:
                        <input type="text" id="timeLeft" style="width:50px;font-size:10px;">&nbsp;

                    </span>
                <button id="recordPauseResumeButton" class="btn btn-small" onclick="pauseResumeCamera()" disabled>Pause Recording</button>
                    <button id="recordStopButton" class="btn btn-small" onclick="closeCamera()" disabled >Stop Recording</button>
                
            </div>

        </div>

    </div>
</div>
<div class="span2">
    <div class="tile triple-vertical bg-crimson bg-active-black"></div>
</div>


<div class="span2">
    <div class="tile double  double-vertical default"></div>
    <div class="tile double attention bg-darkMagenta bg-focus-cyan"></div>
</div>