@model int

@{
    ViewBag.Title = "A Thousand Counts";
}

<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $(function () {
        $('#popup').hide();
    });
</script>
<div id="where-the-magic-happens">
    @if (Model > 0)
    {
        <script language="JavaScript">
            $(function () {
                $('#button').on('click', function (e) {
                    e.preventDefault();
                    $.post('/Count/WebCam', null, function (response) {
                        $('#where-the-magic-happens').html(response);
                    });
                    $('#popup').show();
                });
            });
        </script>
        @Html.Partial("_Count")
    }
    else if (Model == -1)
    {
        @Html.Partial("_BeenAround")
    }
    else
    {
        @Html.Partial("_Completed")
    }
    <div id="message"></div>
</div>
<div id="count" style="display: none;">@Model</div>