@model AThousandCounts.Models.CountModel

@{
    ViewBag.Title = "Home";
}
<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<!-- Please download the JW Player plugin from http://www.longtailvideo.com/jw-player/download -->
<!--<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>-->
<script language="JavaScript" src="~/ScriptCam/scriptcam.js"></script>
<script language="JavaScript" src="~/Scripts/scriptcam-settings.js"></script>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

<div class="span2">
    <div class="tile bg-yellow bg-hover-darkCyan bg-active-cyan">
        YOUR ADVERTISEMENT HERE
    </div>
    <div class="tile bg-green bg-hover-darkPink bg-active-lightOrange">
        YOUR ADVERTISEMENT HERE
    </div>
    <div class="tile bg-blue bg-focus-olive badge bg-hover-grayDark bg-active-mauve">
        YOUR ADVERTISEMENT HERE
    </div>

</div>
<div class="span7">
    <div class="tile quadro triple-vertical bg-lighterBlue bg-active-lightBlue">

        @Model.Count
    </div>
</div>
<div class="span2">
    <div class="tile triple-vertical bg-crimson bg-hover-olive bg-active-grayLight bg-focus-darkIndigo">
        <br />
        <div id="message"></div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        YOUR ADVERTISEMENT HERE
    </div>
</div>


<div class="span2">
    <div class="tile double  double-vertical default bg-hover-lime bg-focus-lightPink bg-active-lightOrange" style="text-align:center;">
        <strong>
            <br />
            JEROWN CHIA BIERA
            <img src="~/Content/images/jerownchiabiera.png" />
            <br />IT'S IN THE GAME
        </strong>
    </div>
    <div class="tile double attention bg-darkGreen bg-hover-blue bg-focus-darkBlue bg-active-darkMagenta">
        YOUR ADVERTISEMENT HERE
    </div>
</div>