@{
    ViewBag.Title = "Explained";
}
<div class="span7">
    <div class="tile quadro triple-vertical bg-lighterBlue bg-active-lightBlue" style="padding:10px;">
        If you visit this site you can become a counter. At A Thousand Counts we are
        creating a video of 1000 counters counting to one thousand and you can be one! <br /><br />
        A counter gets assigned a number in the range 1-1000.<br /><br />
        Every counter gets three seconds to count into her or his webcam with microphone enabled.<br /><br />
        Once 1000 videos are collected there will be no more numbers available.
        The A Thousand Counts team will then put your clips
        in sequence so that a video of 50 minutes will be created where
        counters from all over the world are counting to 1000!

        <br /><br />

        Join the movement and count! Count passionately. Count lively. Count clearly. Count expectantly.
        But, make sure to count.  <br /><br />
        Be quick. There are only 1000 counts available on A Thousand Counts...
    </div>
    </div>
    <div class="span5">
        <div class="tile quadro triple-vertical bg-lightGreen bg-active-lightPink" style="padding:10px; text-align: center;">
        YOUR ADVERTISEMENT HERE
        </div>
    </div>
